* {
    padding: 0px;
    margin: 0px;
}
.columna-75 {
    width: 75%;
}
.columna-25 {
    width: 25%;
}
.tabla {
    background-color: lightcyan;
    width: 600px;
}
.margen-20 {
    margin: 20px
}
.blanco {
    background-color: white;
}